html, body {height: 100%;}	
body {
	font-size: 62.5%;
	font-family: Verdana;
	margin: 0 1em; padding: 0;
}

#canvas  {
	font-size: 1.2em;
	line-height: 1.8em;
	overflow: hidden;
}

#main-nav {overflow: hidden; border-bottom: 1px solid black;}
#main-nav ul {margin-left: 200px; padding: 0;}
#main-nav ul li {margin: 0 3em 0 0; padding: 0; float: left; list-style-type: none; }
#main-nav ul li a {line-height: 3em;}

#sidebar {
	float: left; 
	width: 200px; min-height: 200px;
}
#page-content {
	margin-left: 200px;
}
#footer {clear: both; font-size: 0.9em; float: right;}


.small {font-size: 0.8em;}
#download-button { border: 1px solid black; background: #FF9933; width: 90%;text-align: center; font-size: 1.6em; text-transform: uppercase;}
#download-button a {line-height: 2.5em;  text-decoration: none; color: black;}